body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    color: #eee;
    animation: animation 100s linear infinite;
    overflow: visible;
    width: 100%;
    height: 100vh;
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes animation {
    100%{
        background-position:0 -3000px;
    }
}

header {
    background-color: rgba(51, 51, 51, 0.68);
    color: #fff;
    text-align: center;
    padding: 1.2rem 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}


.container {
    max-width: 800px;
    margin: 120px auto 0 auto;
    padding: 2rem;
    background-color: rgba(7, 7, 7, 0.58);
    box-shadow: 0 4px 8px rgba(236, 231, 231, 0.1);
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

.bio {
    text-align: center;
    margin-bottom: 1rem;
}

.bio img.logo {
    width: 250px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

.bio h1 {
    margin: 0;
    font-size: 2.5rem;
}

.bio p {
    font-size: 1.1rem;
}

.project {
    view-timeline-name: --card;
    view-timeline-axis: block;

    animation-timeline: --card;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

    background-color: rgba(7, 7, 7, 0.58);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(236, 231, 231, 0.1);
    padding: 1.5rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.project p {
    color: #ffffff;
}

.project .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project .btn:hover {
    background-color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
}

footer .social {
    margin-top: 10px;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}



@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .project {
        padding: 1rem;
    }

    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.skills-section {
    text-align: center;

}

.skills-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;


    view-timeline-name: --card;
    view-timeline-axis: block;

    animation-timeline: --card;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.category {

    view-timeline-name: --card;
    view-timeline-axis: block;

    animation-timeline: --card;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
    background-color: rgba(7, 7, 7, 0.58);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(236, 231, 231, 0.1);
}

.category h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items .item {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    background-color: rgba(182, 171, 171, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.items .item i {
    font-size: 2rem;
    margin-right: 0.5rem;
    transition: color 0.3s ease;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
